footer.footer
    a(name="contacts")
    .col-wpad-half.footer-center
        div.footer-adress ООО "ПРОФ ТАКЕЛАЖ" 
        div.footer-adress 220040 г. Москва, проспект Мира, 112
    .col-wpad-half.footer-pad.footer-center
        div
            a.footer-link.footer-phone(href="tel:+79654216262") 8 (965) 421-62-62
        div
            a.footer-link.footer-email(href="mailto:takelazh777@gmail.com") takelazh777@gmail.com
    .clearfix