.row
    .header.clearfix
        .col
            h1
                a.header-link.header-phone(href="tel:+79654216262") 8 (965) 421-62-62
            h3
                a.header-link.header-email(href="mailto:takelazh777@gmail.com") takelazh777@gmail.com