.row
    .header.clearfix#header
        .col-wpad-half.header-left
            .header-top
                a.header-link.header-phone(href="tel:+79654216262") 8 (965) 421-62-62
            .header-bottom
                a.header-link.header-email(href="mailto:takelazh777@gmail.com") takelazh777@gmail.com
        .col-wpad-half.header-right
            h2 ООО "ПРОФ ТАКЕЛАЖ"