.row
    .col-wpad
        .header
            .header-top
                a.header-link.header-phone(href="tel:+79654216262") 8 (965) 421-62-62
            .header-bottom
                a.header-link.header-email(href="mailto:takelazh777@gmail.com") takelazh777@gmail.com