meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="robots" content="index, follow")
meta(name="keywords" content="такелажные работы, переезд коттеджа, квартиры, офисный переезд, услуги грузчиков, транспортные услуги, экспедирование грузов, упаковка грузов, перевозка, сборка-разборка бильярда, переезд предприятия, переезд склада, дачный переезд, перевозка пианино, перевозка рояля, перевозка антиквариата, перевозка сейфов, перевозка банкоматов, перевозка станков, перевозка оборудования, перевозка негабаритных грузов, перевозка длинномерных грузов, перевозка тяжеловесных грузов, перестановка мебели, утилизация мебели , перевозка пианино, перевозка сейфов, услуги грузчиков москва, грузчики в москве, грузчики, заказ бригады грузчиков, грузчики переезд, бригада грузчиков, услуги грузчиков переезд, заказать грузчиков, услуги грузчиков в москве, заказать грузчиков в москве, грузчики москва, грузчики в москве дешево, услуги грузчиков, грузчики недорого, заказ грузчиков, грузчики дешево")
meta(name="description" content="Такелажные услуги и работы в Москве и области, такелажная фирма ПРОФ ТАКЕЛАЖ.Наша компания  предлагает услуги такелажников и грузчиков в Москве и Московской области. Мы предоставляем такелажников и грузчиков для промышленных, квартирных и офисных переездов. Разнорабочие нашей компании выполняют любую тяжёлую работу на производстве и в строительстве.")
title Такелажные услуги и работы в Москве и области, такелажная фирма ПРОФ ТАКЕЛАЖ
link(rel="shortcut icon" href="/img/favicon.png" type="image/png")
link(rel="stylesheet" href="/css/main.css")
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->