nav.nav.row
    div.col-wpad
        div.nav-body
            ul.nav-list
                li.nav-item
                    a.nav-link(href="#about") О нас
                li.nav-item 
                    a.nav-link(href="#takelazh") Такелажные работы
                li.nav-item
                    a.nav-link(href="#montazh") Монтаж и пусконаладка
                li.nav-item
                    a.nav-link(href="#arenda") Аренда крана
                li.nav-item.nav-item--last 
                    a.nav-link(href="#contacts") Контакты

