nav.nav
    div
        ul.nav-list
            li.nav-item
                a.nav-link(href="javascript:void(0)") О нас
            li.nav-item 
                a.nav-link(href="javascript:void(0)") Такелажные работы
            li.nav-item
                a.nav-link(href="javascript:void(0)") Монтаж и пусконаладка
            li.nav-item
                a.nav-link(href="javascript:void(0)") Аренда крана
            li.nav-item 
                a.nav-link(href="javascript:void(0)") Контакты

