div.col
    .block
        a(name="about")
        .block-header
            h2 О нас 
        .block-body
            p
                h3 Профессиональный такелаж промышленного оборудования – это основное направление деятельности нашей компании!
            p.
                За многие годы мы накопили огромный опыт, поэтому готовы предложить вам самые качественные услуги по такелажу, 
                монтажу и пуско-наладке промышленного оборудования в Москве и области.
            p.
                В нашем распоряжении имеется специальный транспорт, идеально подходящий для выполнения любых работ и видов такелажа: 
                манипуляторы, автокраны, фронтальные погрузчики и другое оборудование, которое готово выехать к вам по первому же требованию.
            p
                h3 Наши такелажники возьмут на себя:
                ul
                    li разгрузку промышленного оборудования
                    li перемещение негабаритных грузов
                    li такелаж оборудования, относящегося к различным категориям сложности
                div Если вам понадобятся услуги опытных специалистов, мы всегда будем готовы вам помочь
            p
                h3 В нашей компетенции
                ul
                    li oказание такелажных услуг с грузами весом до 100 тонн
                    li транспортировка серверного и другого оборудования
                    li перевозка промышленного оборудования, нуждающегося в особых условиях перевозки
                    li погрузка оборудования, перемещение негабаритных грузов, а также грузов, обладающих большим весом
            p.
                Для многих компаний, оказывающих такелажные услуги, часто является проблемой 
                выполнение качественного монтажа оборудования. В нашей компетенции – эффективный 
                и качественный монтаж любого оборудования (а также и его демонтаж по желанию клиента), 
                располагающегося выше вашего пола или, напротив, устанавливаемого в углубления.
            p.
                Мы самостоятельно изготовим такелажные приспособления, чтобы установка любой 
                техники прошла как можно мягче и легче, а также расположим ее на надежное и прочное основание, 
                которое позволит в будущем не опасаться за функциональность и безопасность любого оборудования.
            p
                h3 Помимо этого, в число наших услуг входит:
                ul
                    li. 
                        предварительная оценка нашими специалистами сложности процесса погрузки и транспортировки 
                        грузов в зависимости от удаленности места нахождения оборудования, 
                        его веса и технологических характеристик
                    li выбор <b>вспомогательного транспорта</b> для транспортировки вашего груза
                    li подбор оптимальной команды такелажников
            p.
                Кроме того, мы предлагаем на такелаж дорогостоящего оборудования оформить страховку в ведущих страховых компаниях нашей страны
            p. 
                Обратившись к нашим профессионалам, вы можете быть уверены, что выполняемые нами такелажные работы, 
                монтаж и пусконаладка, а также демонтаж промышленного оборудования, проводятся в соответствии 
                с самыми строгими требованиями к этому виду услуг, существующими сегодня в мире, 
                а наши специалисты имеют сертификаты организаций-производителей оборудовани