div.col
    a(name="arenda")
    .block.block--last
        .block-header
            h2 Аренда крана
        .block-body
            p. 
                ООО "ПРОФ ТАКЕЛАЖ" предлагает в аренду автокран КС-45719-5А
                грузоподъемность 20 тонн, длинна стрелы 21 метр.