div.col
    .block
        a(name="montazh")
        .block-header
            h2 Монтажные и пусконаладочные работы
        .block-body
            p Выполняемые нашей компанией в зависимости от договоренности с заказчиком могут быть следующими
            p
                ul
                    li <b>Шефмонтаж</b> - общетехнический и технологический контроль при установке, наладке и первичном обслуживании промышленного оборудования
                    li <b>Монтаж и пусконаладка</b> -  установка, наладка и первичное обслуживаниепромышленного оборудования.
            p
                h3 Данная услуга в зависимости от конкретных условий и договоренностей  может состоит из следующих этапов:
                ul
                    li.
                        подача заказчиком заявки на монтаж и заключение договора (при выполнении такелажа 
                        оборудования нашей компанией данные виды работ могут быть включены в общий договор)
                    li.
                        выезд нашего специалиста для составления плана установки поставленного полиграфического 
                        оборудования, графика выполнения работ и оценки стоимость работ
                    li.
                        подготовка основания и коммуникаций, необходимых для функционирования оборудования
                    li.
                        установка, сборка и, при необходимости, проведения пусконаладочных работ
                    li. 
                        проведение теоретического и практического обучения персонала заказчика работе с оборудованием;
            p
                h3 Для успешного оказания услуг и качественного проведения пусконаладочных работ заказчик должен обеспечить выполнение следующих условий:
                ul
                    li.
                        обеспечить нашему инженерному составу беспрепятственный доступ к поставленному полиграфическому оборудованию
                    li.
                        обеспечить бесперебойную работу своего персонала, задействованного в монтаже и обслуживании оборудования на весь срок проведения монтажа и пусконаладочных работ
                    li.
                        произвести расстановку поставленного оборудования в помещении согласно плану-схеме, разработанному нашим специалистом
                    li.
                        обеспечить  присутствие специалиста, который в дальнейшем будет заниматься текущим ремонтом оборудования
                    li.
                        своевременно произвести закупку расходных материалов, необходимых для монтажа поставленного оборудования и проведения пусконаладочных работ
            p Мы предоставим высококвалифицированных сервисных специалистов, которые проведут пусконаладочные работы, а при необходимости – ремонт оборудования.
