div.col
    .block
        a(name="montazh")
        .block-header
            h2 Монтажные и пусконаладочные работы
        .block-body
            h3 Выполняемые нашей компанией в зависимости от договоренности с заказчиком могут быть следующими
            div.block-section
                div.block-left
                    img.img-fluid(src="/img/p1.jpg" alt="Шефмонтаж")
                div.block-main
                    b Шефмонтаж- 
                    | общетехнический и технологический контроль при установке, наладке и первичном обслуживании промышленного оборудования
                .clearfix
            div.block-section
                div.block-left
                    img.img-fluid(src="/img/p2.jpg" alt="Монтаж и пусконаладка")
                div.block-main
                    b Монтаж и пусконаладка- 
                    | установка, наладка и первичное обслуживание промышленного оборудования
                .clearfix                
            div.block-section
                h3 Данная услуга в зависимости от конкретных условий и договоренностей  может состоит из следующих этапов:
                ul
                    li
                        | подача заказчиком заявки на монтаж и заключение договора (при выполнении такелажа 
                        a.brand-link(href="#takelazh") такелажа оборудования
                        |  нашей компанией данные виды работ могут быть включены в общий договор)
                    li
                        | выезд нашего специалиста для составления плана установки поставленного полиграфического 
                        | оборудования, графика выполнения работ и оценки стоимость работ
                    li
                        | подготовка основания и коммуникаций, необходимых для функционирования оборудования
                    li
                        | установка, сборка и, при необходимости, проведения пусконаладочных работ
                    li 
                        | проведение теоретического и практического обучения персонала заказчика работе с оборудованием;
            div.block-section
                h3 Для успешного оказания услуг и качественного проведения пусконаладочных работ заказчик должен обеспечить выполнение следующих условий:
                ul
                    li.
                        обеспечить нашему инженерному составу беспрепятственный доступ к поставленному полиграфическому оборудованию
                    li.
                        обеспечить бесперебойную работу своего персонала, задействованного в монтаже и обслуживании оборудования на весь срок проведения монтажа и пусконаладочных работ
                    li.
                        произвести расстановку поставленного оборудования в помещении согласно плану-схеме, разработанному нашим специалистом
                    li.
                        обеспечить  присутствие специалиста, который в дальнейшем будет заниматься текущим ремонтом оборудования
                    li
                        | своевременно произвести закупку расходных материалов, необходимых для монтажа поставленного оборудования и проведения пусконаладочных работ
            p 
                | Мы предоставим высококвалифицированных сервисных специалистов, которые проведут 
                b пусконаладочные работы
                |, а при необходимости – 
                b ремонт оборудования.
