div.col
    .block
        a(name="takelazh")
        .block-header
            h2 Такелажные работы
        .block-body
            p. 
                Работы по разгрузке, погрузке, перемещению промышленного оборудования в нашей компании выполняются по следующей схеме
            p
                div.
                    <b>Предварительный этап.</b> После звонка диспетчеру, к заказчику выезжает консультант-оценщик, 
                    который, осмотрев место предстоящих работ, рассчитывает их стоимость и сроки, определяет, 
                    какие инструменты и оснастка потребуются, а также какую спецтехнику необходимо будет задействовать. 
                    Дорогостоящее оборудование оценщик предложит застраховать. Выезд в пределах Москвы БЕСПЛАТНЫЙ!
            p
                div.
                    <b>Подготовительный этап.</b> Составляется план подготовительных мероприятий 
                    (расчистка подъездных путей, подготовка оснований, увеличение дверных или оконных проемов, 
                    отключение магистралей воды, сжатого воздуха и т.д.) с указанием сроков. 
                    Подготовительные мероприятия могут быть выполнены по договоренности силами заказчика или работниками нашей компании.
            p
                div.
                    <b>Основной этап.</b> Такелажные работы (разгрузочные работы) производятся в соответствии 
                    с утвержденными сроками и с соблюдением правил техники безопасности. 
                    Они включают профессиональный демонтаж оборудования (с выполнением маркировки), 
                    упаковку (при необходимости), погрузку на транспорт, перевозку к месту разгрузки и 
                    разгрузку оборудования. Такелажные работы всегда выполняются под руководством специалиста, 
                    имеющего высшее техническое образование и опыт более 5 лет в производстве данного вида работ.
            p.
                Мы имеем в распоряжении специальную погрузочную технику и профессиональное 
                оборудование и оснастку для выполнения такелажа любой степени сложности. 
                Мы в силах справится с перемещением груза весом до 100 тонн.
            p.
                Специалисты работающие в нашей компании обучены выполнять самые сложные и неординарные 
                задачи по погрузочно-разгрузочным операциям, монтажу-демонтажу промышленного оборудования, 
                а также работы по такелажу и перевозке тяжеловесных и негабаритных грузов.