div.col
    .block
        a(name="takelazh")
        .block-header
            h2 Такелажные работы
        .block-body
            h3 Работы по разгрузке, погрузке, перемещению промышленного оборудования в нашей компании выполняются по следующей схеме
            div.block-section 
                div.block-left
                    img.img-fluid(src="/img/t1.jpg" alt="Предварительный этап")
                div.block-main
                    b Предварительный этап. 
                    | После звонка диспетчеру, к заказчику выезжает консультант-оценщик, 
                    | который, осмотрев место предстоящих работ, рассчитывает их стоимость и сроки, определяет, 
                    | какие инструменты и оснастка потребуются, а также какую спецтехнику необходимо будет задействовать. 
                    | Дорогостоящее оборудование оценщик предложит застраховать. Выезд в пределах Москвы БЕСПЛАТНЫЙ! 
                    a.brand-link(href="tel:+79654216262") 8 (965) 421-62-62
                .clearfix
            div.block-section 
                div.block-left
                    img.img-fluid(src="/img/t2.jpg" alt="Подготовительный этап")
                div.block-main
                    b Подготовительный этап. 
                    | Составляется план подготовительных мероприятий 
                    | (расчистка подъездных путей, подготовка оснований, увеличение дверных или оконных проемов, 
                    | отключение магистралей воды, сжатого воздуха и т.д.) с указанием сроков. 
                    | Подготовительные мероприятия могут быть выполнены по договоренности силами заказчика или работниками нашей компании.
                .clearfix
            div.block-section 
                div.block-left
                    img.img-fluid(src="/img/t3.jpg" alt="Основной этап")
                div.block-main
                    b Основной этап. 
                    | Такелажные работы (разгрузочные работы) производятся в соответствии 
                    | с утвержденными сроками и с соблюдением правил техники безопасности. 
                    | Они включают профессиональный демонтаж оборудования (с выполнением маркировки), 
                    | упаковку (при необходимости), погрузку на транспорт, перевозку к месту разгрузки и 
                    | разгрузку оборудования. Такелажные работы всегда выполняются под руководством специалиста, 
                    | имеющего высшее техническое образование и опыт более 5 лет в производстве данного вида работ.
                .clearfix
            p
                | Мы имеем в распоряжении специальную погрузочную технику и профессиональное 
                | оборудование и оснастку для выполнения такелажа любой степени сложности. 
                | Мы в силах справится с перемещением груза весом до 100 тонн.
            p
                | Специалисты работающие в нашей компании обучены выполнять самые сложные и неординарные 
                | задачи по погрузочно-разгрузочным операциям, монтажу-демонтажу промышленного оборудования, 
                | а также работы по такелажу и перевозке тяжеловесных и негабаритных грузов.