extends layouts/main.pug

block content
    .row(style="margin-top: 10px;")
        div.col
            .block
                .block-header
                    h2 О нас
                .block-body
                    p.
                        <b>Профессиональный такелаж промышленного оборудования</b> – это основное направление деятельности нашей компании!
                    p За многие годы мы накопили огромный опыт, поэтому готовы предложить вам самые качественные услуги по такелажу, монтажу и пуско-наладке промышленного оборудования в Москве и области.
                    p В нашем распоряжении имеется специальный транспорт, идеально подходящий для выполнения любых работ и видов такелажа: манипуляторы, автокраны, фронтальные погрузчики и другое оборудование, которое готово выехать к вам по первому же требованию.