extends layouts/main.pug

block content
    .row
        include ./pages/about.pug
    .row
        include ./pages/takelazh.pug
    .row
        include ./pages/montazh.pug
    .row
        include ./pages/arenda.pug
    .row
        include ./blocks/footer.pug
    .up#up
        a.brand-link(href="/#home") Наверх
        