.footer {
    background-color: #000;
    padding: 25px 15px;
    color: @brend-color;

    .footer-pad {
        padding-top: 10px;
    }

    .footer-div {
        border-right: 1px solid @brend-color;
    }

    .footer-link {
        color: @brend-color;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .footer-phone {
        font-size: 2em;
    }
}

@media (min-width: @screen-sm-min) {
    .footer {
        .footer-pad {
            padding-top: 0;
        }
    }
}