doctype html
html(lang="ru")
    head
        include ../blocks/head.pug
    body
        .container
            block header
                include ../blocks/header.pug
            block nav
                include ../blocks/nav.pug
            block header
            block content
            block footer
            block scripts
                include ../blocks/scripts.pug